<!DOCTYPE html>
<html>

<head>
    <title>
        Dashboard page
    </title>
    <meta charset='utf-8' />


    <meta name="viewport" content="width=device-width, initial-scale=1" />



    <link href='css/normalize.css' rel='stylesheet' />



    <link href='css/dashboard.css' rel='stylesheet' />



    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

</head>

<body>

    <div class="page page_dashboard">
        <aside class="page_aside aside vertical">
            <div class="aside_logo">
                Sidebar
            </div>
            <nav class="vertical vertical_small">
                <a href="#" class="nav_button nav_button_active click">
                    <span class="icon nav_button_icon" style="background-image: url('/svg/nav/home.svg')"></span>
                    <span class="text text_light">Home</span>
                </a>
                <a href="#" class="nav_button click">
                    <span class="icon nav_button_icon" style="background-image: url('/svg/nav/order.svg')"></span>
                    <span class="text text_light">Orders</span>
                </a>
                <a href="#" class="nav_button click">
                    <span class="icon nav_button_icon" style="background-image: url('/svg/nav/products.svg')"></span>
                    <span class="text text_light">Products</span>
                </a>
            </nav>
        </aside>
        <header class="header">
            <div class="layout header_content text_small">
                <div class="header_search">
                    <input type="text" placeholder="Search" class="field field_header">
                    <span class="icon header_icon_search"
                        style="background-image: url('/svg/header/search.svg');"></span>
                    <span class="icon header_icon_settings icon_button icon_color_blue click"
                        style="background-image: url('/svg/header/setting.svg');"></span>
                </div>
            </div>
        </header>
        <main class="main">123</main>
    </div>

</body>

</html>