<!DOCTYPE html>
<html>

<head>
    <title>
        Dashboard page
    </title>
    <meta charset='utf-8' />


    <meta name="viewport" content="width=device-width, initial-scale=1" />



    <link href='css/normalize.css' rel='stylesheet' />



    <link href='css/dashboard.css' rel='stylesheet' />



    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

</head>

<body>

    <div class="page page-dashboard">
        <aside class="page-aside aside vertical vertical-big">
            <div class="text aside-logo">
                Sidebar
            </div>
            <nav class="vertical vertical-small">
                <a href="#" class="nav-button nav-button-active click">
                    <span class="icon nav-button-icon" style="background-image: url('/svg/nav/home.svg')"></span>
                    <span class="text text-light">Home</span>
                </a>
                <a href="#" class="nav-button click">
                    <span class="icon nav-button-icon" style="background-image: url('/svg/nav/order.svg')"></span>
                    <span class="text text-light">Orders</span>
                </a>
                <a href="#" class="nav-button click">
                    <span class="icon nav-button-icon" style="background-image: url('/svg/nav/products.svg')"></span>
                    <span class="text text-light">Products</span>
                </a>

                {{!-- <div class="relative click">
                    <div class="field field_select">
                        <span class="text text_light">Choose...</span>
                    </div>
                    <select class="field_select">
                        <option value="dog">Dog</option>
                        <option value="cat">Cat</option>
                        <option value="hamster">Hamster</option>
                        <option value="parrot">Parrot</option>
                        <option value="spider">Spider</option>
                    </select>

                </div> --}}
            </nav>
        </aside>
        <header class="header">
            <div class="layout header-content text-small">
                <div class="header-search relative">
                    <input type="text" placeholder="Search" class="text field field-header">
                    <span class="icon header-icon-search"
                        style="background-image: url('/svg/header/search.svg');"></span>
                    <span class="icon header-icon-settings icon-button icon-color-blue click"
                        style="background-image: url('/svg/header/setting.svg');"></span>
                </div>
                <div class="header-icon-3">
                    <div class="header-icon-right">
                        <span class="icon header-icon-wifi icon-button icon-color-wifi-message click"
                            style="background-image: url('/svg/header/wifi.svg');"></span>
                        <span class="icon header-icon-translator icon-button icon-color-blue click"
                            style="background-image: url('/svg/header/translator.svg');"></span>
                        <span class="icon header-icon-message icon-button icon-color-wifi-message click"
                            style="background-image: url('/svg/header/message.svg');"></span>
                    </div>
                </div>
            </div>
        </header>
        <main class="main">
            <div class="layout">
                <section class="box analytic-block">
                    <div class="analytic analytic-double analytic-blue">
                        <span class="icon analytic-button icon-button icon-color-blue click"
                            style="background-image: url('/svg/analytic/order.svg');"></span>

                        <div class="relative vertical vertical-small">
                            <div class="analytic-title text text-light">$961</div>
                            <div class="analytic-info text text-small text-lighter">Total Order</div>

                            <span class="icon analytic-arrow"
                                style="background-image: url('/svg/analytic/arrow.svg');"></span>
                        </div>
                    </div>
                    <div class="analytic analytic-double analytic-dark-blue">
                        <span class="icon analytic-button icon-button icon-color-blue-dark click"
                            style="background-image: url('/svg/analytic/earning.svg');"></span>

                        <div class="relative vertical vertical-small">
                            <div class="analytic-title text text-light">$500.00</div>
                            <div class="analytic-info text text-small text-lighter">Total earning</div>

                            <span class="icon analytic-arrow"
                                style="background-image: url('/svg/analytic/arrow.svg');"></span>
                        </div>
                    </div>
                    <div class="analytic analytic-content analytic-blue">
                        <div class="analytic-content-text">
                            <span class="icon analytic-button icon-button icon-color-blue"
                                style="background-image: url('/svg/analytic/earning.svg');"></span>

                            <div class="relative vertical vertical-small">
                                <div class="analytic-title text text-light">$203k</div>
                                <div class="analytic-info text text-small text-lighter">Total Income</div>
                            </div>
                        </div>
                    </div>
                    <div class="analytic analytic-content analytic-white">
                        <div class="analytic-content-text">
                            <span class="icon analytic-button icon-button icon-color-yellow"
                                style="background-image: url('/svg/analytic/income.svg');"></span>

                            <div class="relative vertical vertical-small">
                                <div class="analytic-title text text-light">$203k</div>
                                <div class="analytic-info text text-small text-lighter">Total Income</div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>

            <div class="layout">
                <section class="section-purchase-payment-block">
                    <div class="purchase-list">
                        <h1 class="purchase-title">Purchase list</h1>
                        <div class="divider"></div>
                        <div class="data">
                            <div class="purchase-list-box">
                                <p class="line">ID437661</p>
                                <p class="line">May 11, 2023, 14:21</p>
                            </div>
                            <div class="purchase-list-box">
                                <p class="line">AirOn ProCam</p>
                                <p class="line">7/8 USB Type-C</p>
                            </div>
                            <div class="purchase-list-box">
                                <p class="line">132.32 EUR</p>
                                <p class="notpad">Not paid</p>
                            </div>
                            <div class="purchase-list-box">
                                <p class="line">Customer</p>
                                <p class="line">robin@com.de</p>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <div class="data">
                            <div class="purchase-list-box">
                                <p class="line">ID437661</p>
                                <p class="line">May 11, 2023, 14:21</p>
                            </div>
                            <div class="purchase-list-box">
                                <p class="line">PHILIPS Essential</p>
                                <p class="line">HD9200/90</p>
                            </div>
                            <div class="purchase-list-box">
                                <p class="line">543 USD</p>
                                <p class="payby">Pay by Stripe</p>
                            </div>
                            <div class="purchase-list-box">
                                <p class="line">Customer</p>
                                <p class="line">robin@com.de</p>
                            </div>
                        </div>
                    </div>
                    <div class="payment-box">
                        <div class="header-payment">
                            <h1 class="payment-title">Payment</h1>
                            <div class="divider-playment"></div>
                            <div class="input-radio-block">
                                <input type="radio" class="input-radio"><span class="">Credit card</span>
                                <input type="radio" class="input-radio"><span>Credit card</span>
                                <input type="radio" class="input-radio"><span>Credit card</span>
                            </div>
                            <div class="divider-playment"></div>
                            <div class="input-block">
                                <label for="text">Name on card</label>
                                <input type="text" class="input-text" id="text">
                                <label for="text">Credit card number</label>
                                <input type="text" class="input-text" id="text">
                                <label for="text">Expiration</label>
                                <input type="text" class="input-text" id="text">
                                <label for="text">CVV</label>
                                <input type="text" class="input-text" id="text">
                            </div>
                            <div class="divider-playment"></div>
                            <div class="select-block">
                                <label for="select">Country</label>
                                <select name="Country" id="select" class="select">
                                    <option>Choose...</option>
                                </select>
                                <label for="select">State</label>
                                <select name="Country" id="select" class="select">
                                    <option>Choose...</option>
                                </select>
                            </div>
                            <div class="divider-playment"></div>
                            <div class="button-block">
                                <div class="button">
                                    <p class="button-text">Continue to checkout</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
            </div>

        </main>
    </div>

</body>

</html>