{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

<main class="p-5">
    <div class="card p-5 mb-5">
        <p hidden id="test">
            Hello world!
        </p>
        <p>zdvfbdflkbnsdxj,vn dv,fn ,fxnv lkcv n</p>
        <span hidden class="test">test111</span>
        <span>test est test test test test</span>
    </div>

    <pre>
                    aaagfcvkmbyxefafbgnfgn gbngcb fbbfcv dxc gv ngvb 
    </pre>

    <div>
        block
    </div>
    <div>
        block
    </div>

    <div style="margin: 50px 0 50px 100px; background: gray; height: 200;">
        <span>inline</span>
        <span>inline</span>
        <span class="block">inline inline nkf smfjdlf mgldbn n skvnslfk</span>
    </div>

    <div>
        block
    </div>
</main>
{{!-- Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}