{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

<style>
    h1 {
        color: aqua;
    }
</style>

<div class="p-5 box">
    <h1 style="color:blue">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <h1 id="user">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>


    <h2>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h2>
    <h3>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h3>

    <button type="button" class="btn btn-primary">Купити</button>

    <button type="button" class="button">Купити</button>

    <p>TEST</p>
</div>


<div class="card p-5 m-5 card-dark">
    <ul>
        <li class="item">1</li>
        <li class="item">2</li>
        <li class="item">3</li>
        <li class="item">4</li>
        <li class="item">5</li>
    </ul>
</div>

<div class="card p-5 m-5 card-dark">
    <ul>
        <li class="item">1</li>
        <li class="item">2</li>
        <li class="item">3</li>
        <li class="item">4</li>
        <li class="item">5</li>
    </ul>
</div>

<div class="card p-5 m-5 card-dark">

    <div class="item">1</div>
    <p class="item">2</p>
    <em class="item">3</em>
    <b class="item">4</b>
    <article class="item">5</article>
    <strong class="item">test</strong>
    <hr>
    <div class="item">1</div>
    <p class="item">2</p>
    <em class="item">3</em>
    <b class="item">4</b>
    <article class="item">5</article>
</div>


<div class="card p-5 m-5 card-dark">
    <p class="item">1</p>
    <p class="item">2</p>
    <p class="item">3</p>
    <p class="item">4</p>
    <p class="item">5</p>
</div>


<div class="card p-5 m-5 card-dark">
    <input class="input-dark" placeholder="this is text" required>
    <input class="input-dark" type="number">
</div>

<div class="card p-5 m-5 card-dark img">
    <img alt="image small card 300px" class="small-img" src="https://picsum.photos/200/300" height="300" />
    <a href="https://picsum.photos/200/300" rel="external">Link</a>

    <button class="btn">Click me</button>
    <br>
    <br>
    <a class="btn btn-secondary" href="https://picsum.photos/200/300" rel="external">Link</a>

    <br>
    <a class="small btn btn-secondary big" href="https://picsum.photos/200/300" rel="external">Link</a>
</div>

<div class="card p-5 m-5 card-dark">
    <p class="big-text">This is test This is test This is test This is test This is test This is test This is test This
        is test</p>
</div>

<div lang="fr" class="card p-5 m-5 card-dark">
    <a class="link" href="#test">Click me</a>
</div>

<div lang="en" id="test" class="card p-5 m-5 card-dark">
    <input>
    <span>Hello world!</span>
    <button>Test button</button>
</div>
<div lang="en" id="test" class="p-5 m-5 card-dark">
    <button>Test button</button>
    <button disabled>Disabled button</button>
</div>
<div lang="en" id="test" class="p-5 m-5 card-dark">
    <input class="ing">
    <div class="mt-5">
        <div>
            <input type="checkbox" checked>
            <span>First</span>
        </div>
        <div>
            <input type="checkbox">
            <span>Second</span>
        </div>
    </div>
</div>
<div class="p-5 m-5 card-dark">
    <div>
        <input type="email" required class="valid" placeholder="test">
        <span>test text</span>
    </div>
    <div class="mt-5">
        <input type="number" min="10" max="20" required class="number">
    </div>
</div>



{{!-- Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}