.card {
  color: red;
}
.card > p {
  color: aqua;
  -webkit-text-fill-color: red;
  -webkit-text-stroke: 1px blue ;
}
p:focus, 
p:active,
p:hover {
  -webkit-text-fill-color: rgb(188, 228, 10);
  -webkit-text-stroke: 1px rgb(231, 22, 214);

  direction: rtl;
}
#test {
  color: inherit;
  -webkit-text-fill-color: inherit;
  -webkit-text-stroke: inherit;

  /* writing-mode: vertical-rl; */

  text-align: justify;

  letter-spacing: 1em;
}
span {
  text-align: left;
  text-transform: uppercase;
  text-decoration: underline solid red;
  /* text-decoration: overline dotted blue;
  text-decoration: line-through dotted green; */
}
span:hover {
  text-decoration-line: line-through;
  text-decoration-style: wavy;
}
pre {
  tab-size: 3;
  
}
* {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
span {
  font-size: larger;
  font-weight: lighter;
  font-style: italic;
}
.test {
  font-weight: lighter;
  display: none;
}
.block {
  display: block;
  background: darkblue;
  margin: auto;
  /* width: 100px;
  height: auto; */
  min-height: 100px;
  max-width: min-content;
}

