:root {
  --space-m: 12px;
  --space-xm: 16px;
  --space-l: 24px;
  --space-b: 36px;

  --size-d: 16px;
  --size-s: 14px;
  --size-l: 20px;
  --size-b: 24px;


  --color-border: #DEE2E6;
  --color-border2: #e4eaf2;
  --color-primary: rgb(46, 46, 255);
  --color-white: #FFFFFF;
  --color-title: #212529;
  --color-text: #343a40;

  --border-radius: 12px;

  


  --weight-title: 600;
  --weight-text: 400;
}

/* =================================================================================== */
.page {
  background: var(--color-white);
  padding: 0 15px;

  display: flex;
  justify-content: center;
}
.page_content {
  max-width: 1000px;
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: 80px;
}
/* ==================================================================================== */
.header {
 display: grid;
grid-row: 1fr 1fr;
}
.header_content {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #253041;
  
}
.header_block_logo {
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
  /* align-items: flex-start; */
  gap: 10px;

 
}
.header_logo {
  display: flex;
  justify-content: flex-start;
  text-align: center;
padding: 8px 12px;
align-items: flex-start;
gap: 10px;
border-radius: 10px;
background: #885FFB;
}
.header_userOnline {
  justify-content: flex-end;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  margin-top: 48px;
}
.ad_text_url {
  color: #FFF;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 100%;
}
.ad_badge_card {
display: flex;

align-items: flex-start;
gap: 10px;


}
.ad_badge {
  color: #885FFB;
font-size: 14px;
font-weight: 700;
line-height: 100%;
padding: 2px 6px;
border: 1px solid #885FFB;
border-radius: 4px;
background: rgba(136, 95, 251, 0.20);
}
.links_card {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  gap: 24px;
/* margin-right: 600px; */
  margin-bottom: 12px;
}

.header_links {
  display: flex;
align-items: center;
gap: 24px;
}


.main_hero {
  display: flex;
  height: 300px;

  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-radius: 24px;
  background: radial-gradient(632.95% 141.42% at 100.00% 100.00%, rgba(17, 24, 39, 0.00) 0%, rgba(78, 63, 146, 0.60) 100%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
  margin-bottom: 60px;
}

.hero_title {
  width: 600px;
  color: #FFF;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 20px;
}
.hero_description {
  width: 600px;
  color: #9CA3AF;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 20px;
}
.hero_button_card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero_button {
  display: inline-block;
  width: 200px;
  height: 50px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border: 1px solid  #885FFB;
  border-radius: 10px;
  background: #885FFB;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 60px;
  text-decoration: none;
  text-align: center;
}
.about {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;

  border-radius: 24px;
  background: rgba(42, 49, 65, 0.44);
  backdrop-filter: blur(25px);
  margin-bottom: 60px;
}
.heading_about {
  width: 600px;
  color: #FFF;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}
.about_info {
  align-self: stretch;
  color: #9CA3AF;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 170%;
}

.about_title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #FFF;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 100%;
gap: 20px;
margin-bottom: 32px;
}
.articles {
  display: flex;
  justify-content: center;
align-items: flex-start;
gap: 16px;
}
.articles_card {
  display: flex;
  flex-direction: column;
  gap: 32px;

}
.articles_photo {
  width: 300px;
height: 200px;
border-radius: 10px;
}
.article_card_button {
  display: flex;
  justify-content: flex-start;
  align-content: center;
}
.article_button {
 
padding: 8px 16px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 10px;
background: #885FFB;
}
.footer {
  display: flex;
padding-bottom: 32px;
align-items: flex-start;
gap: 16px;
align-self: stretch;
}