:root {
  --space-m: 12px;
  --space-xm: 16px;
  --space-l: 24px;
  --space-b: 36px;

  --size-d: 16px;
  --size-s: 14px;
  --size-l: 20px;

  --color-border: #DEE2E6;
  --color-primary: rgb(46, 46, 255);
  --color-white: #FFFFFF;
  --color-title: #212529;
  --color-text: #343a40;

  --border-radius: 12px;

  --weight-title: 500;
  --weight-text: 400;
}

/* =================================================================================== */
.page {
  background: var(--color-white);
  padding: 0 15px;

  display: flex;
  justify-content: center;
}
.page_content {
  max-width: 960px;
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: 80px;
}
/* ==================================================================================== */
.header {
  padding: var(--space-l) 0;
  border-bottom: 1px solid var(--color-border);

  display: flex;
  justify-content: space-between;
}
.logo {
  font-size: 17px;
  color: var(--color-white);
  
  background: var(--color-primary);
  width: 24px;
  height: 24px;
  border-radius: calc(var(--border-radius) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav {
  display: flex;
}
.nav_inLine {
  gap: var(--space-l);
}
.nav_vertical {
  gap: var(--space-xm);
  flex-direction: column;
}
.nav_link {
color: var(--color-text);
font-size: var(--size-d);
text-decoration: none;

line-height: 100%;
}

.nav_link:hover {
  text-decoration: underline;
  color: var(--color-primary);
}

.footer {
  padding: var(--space-l) 0;
  border-top: 1px solid  var(--color-border);

  display: flex;
  justify-content: space-between;
}
.footer_copyright {
  font-size: var(--size-s);
  color: var(--color-text);

display: block;

margin-top: var(--space-l);
}
.footer_title {
  font-size: var(--size-l);
  color: var(--color-title);

  display: block;
  margin-bottom: var(--space-l);

  font-weight: var(--weight-title);
}
.main {
  display: flex;
  align-items: center;
  gap: 36px;
}
.main_image {
  width: 500px;
  height: 500px;
  border-radius: 12px;
}
.main_content {
  display: flex;
  flex-direction: column;
  gap: var(--size-l);
}
.button {
  text-decoration: none;
  color: #fff;
  max-width: 120px;
  width: 100%;
  display: inline-block;

  font-size: 16px;

  padding: 10px 20px;
  background: #3b3c3d;
  border-radius: 4px;
  text-align: center;
}
.button:hover {
background: #646668;
}
.main_title {
  font-size: 36px;
  color: #5A5A5A;
  font-weight: 500;
  line-height: 44px;
}
.description_text {
  font-size: 16px;
  color: #5A5A5A;
  font-weight: 400;
  line-height: 28px;
}
.featured {
  display: flex;
  gap: var(--space-b);
}
.card_featured {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: flex-start;
  gap: var(--space-l);
}
.card_photo {
  height: 64px;
  width: 64px;
  border-radius: 12px;
}
.card_title {
  font-size: 32px;
  font-weight: 500;
  color: #212529;
  line-height: 32px;
}
.card_info {
  font-size: 16px;
  font-weight: 400;
  color: #212529;
  line-height: 28px;
}
.card_link {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #0D6EFD;
}
.card_link:hover {
  opacity: 0.7;
}
.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #563D7C;
  padding: var(--space-l);
  border-radius: var(--border-radius);
  gap: 12px;
}

.actions_heading {
  font-size: 24px;
  font-weight: 400;
  line-height: 16px;
  color: #FFFFFF;
  margin: 12px;
}
.button_actions {
  text-decoration: none;
  color: #212529;
  max-width: 240px;
  width: 100%;
  display: inline-block;

  font-size: 16px;

  padding: 10px 20px;
  background: #FFFFFF;
  border-radius: 4px;
  text-align: center;
}
.button_actions:hover {
  opacity: 0.7;
}

